name: Run Jupyter Notebook

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: '0 0 * * 1' # Ejecutar todos los lunes a medianoche

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Execute Notebook
      run: |
        jupyter nbconvert --to notebook --execute PRA2-Pedro-Berberana.ipynb --output executed_notebook.ipynb
    
    - name: Convert to HTML
      run: |
        jupyter nbconvert --to html executed_notebook.ipynb --output index.html
    - name: Setup Pages
      uses: actions/configure-pages@v4
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: .
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
